<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container">
    <a class="navbar-brand nav-font" href="/">
          <img src="/img/logo.png" width="200" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0 nav-link-font">
        <li class="nav-item">
          <a class="nav-link" href="/properties/new">List property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="page-banner-section py-5 img-bg " style="background-image: url('/img/common-bg.svg')">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="banner-content">
          <h1 class="text-white display-3">Our properties</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="property-listings py-5">
  <div class="container">
    <div class="row">
    <% @properties.each do |property| %>
      <div class="col-md-4 mb-3">
        <div class="card">
        <h5 class="card-header d-flex"><%= property.name %><span class="ms-auto">£<%= property.price %> / night</span></h5>
        <div class="card-body">
          <h5 class="card-title">Location: <%= property.location %></h5>
          <p class="card-text"><%= property.description %></p>
          <p class="card-text"><%= property.from_date %> - <%= property.to_date %></p>
          <a href="#" class="btn btn-primary">Book</a>
        </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

