<section class="page-banner-section py-5 img-bg " style="background-image: url('/img/common-bg.svg')">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="banner-content">
          <h1 class="text-white display-3">Our properties</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="property-listings py-5">
  <div class="container">
    <div class="row">
    <% @properties.each do |property| %>
      <div class="col-md-4 mb-3">
        <div class="card">
        <h5 class="card-header d-flex"><%= property.name %><span class="ms-auto">£<%= property.price %> / night</span></h5>
        <div class="card-body">
          <h5 class="card-title">Location: <%= property.location %></h5>
          <p class="card-text"><%= property.description %></p>
          <p class="card-text"><%= property.from_date %> - <%= property.to_date %></p>
          
          <a href="/request" class="btn btn-primary">Book <%=property.name%> </a>
        </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>

