<ul>
  <% @properties.each do |property| %>
    <li><%= property.name %></li>
    <ul>
      <li>Description: <%= property.description %></li>
      <li>Location: <%= property.location %></li>
      <li>Cost: £<%= property.price %> per night</li>
      <li>Available from: <%= property.from_date %></li>
      <li>Available until: <%= property.to_date %></li>
    </ul>
  <% end %>
</ul>
